{{!-- use METHOD POST when creating new instances in the DB through the form --}}

{{!--          |-------------------------------------|   --}}
{{!-- router.post('/authors/create')                 |   --}}            
{{!--                   |                            |
                        |               |----------- |    --}}
<form action="/authors/create" method="post">     
  <label for="">Author first name:</label>
  <input type="text" name="firstName" id="">

  <label for="">Author last name:</label>
  <input type="text" name="lastName" id="">

  <label for="">Author's nationality:</label>
  <input type="text" name="nationality" id="">

  <label for="">Author's birthday</label>
  <input type="date" name="birthday" id="">

  <label for="">Author's image'</label>
  <input type="text" name="image_url" id="">

  <button type="submit">Add new author</button>

</form>


